---
layout: default
---

<h1 class="visually-hidden">{{ site.title }} — {{ site.tagline | default: site.description }}</h1>

{% for post in paginator.posts %}
  <div class="posts-container">
    <h2>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}" alt="{{ post.image_alt | default: post.title | escape }}" loading="lazy"></a>
      </div>
    {% endif %}
    <p>
      {{ post.description | default: post.excerpt | strip_html | truncate: 350 }} <a href="{{ post.url | relative_url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<nav class="pagination" aria-label="Post pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ paginator.next_page_path | relative_url }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path | relative_url }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</nav>
